* { /*Remove as margens e espaçamentos padrão de todos os elementos*/
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

h1 {
    font-size: 45px;
    color: black;
    justify-content: center;
    position: relative;
    display: flex;
    z-index: 3000;
}

/*Personalizando o fundo*/
.fundo {
    background-color: rgb(219, 219, 219);
    height: 100vh; /*Modificamos a altura */
    color: white; /*Definimos a cor de texto, ou seja, será branco*/
    font-family: Arial, Helvetica, sans-serif; /*Definimos a fonte do texto*/
    text-align: center; /*Alinhamos os textos no modo centralizado*/
}

/*Personalizando o corpo da calculadora*/
.corpoCalc {
    margin-top: 2%; /*Insere a margem na parte de cima da calculadora*/
    position: absolute; /*Define a posição em absoluto*/
    background-color: rgb(0, 0, 0);
    top: 50%; /*Margem em cima da calculadora*/
    left: 50%; /*Margem embaixo da calculadora*/
    transform: translate(-50%, -50%); /*Ajusta a posição para que fique perfeitamente posicionada no centro da tela*/
    border-radius: 15px; /*Deixa a borda da calculadora arredondada*/
    padding: 15px; /*Modifica o tamanho da calculadora*/
    
}

/*Personalizando os botões*/
.botao {
    width: 50px; 
    height: 50px;
    font-size: 25px; /*Tamanho da fonte*/
    cursor: pointer; /*Altera o cursor (seta) para pointer (mãozinha), indicando que o elemento é clicável*/
    margin: 3px;
    background-color: rgb(26, 25, 25);
    border: none; /*Removemos as bordas dos botões da calculadora*/
    color: rgb(218, 216, 216);
}

.botao:hover {
    background-color: rgb(34, 34, 34); /*Adicionamos uma cor assim que o mouse for passado em cima dos botões*/
}

#resultado {
    background-color: white;
    width: 215px;
    height: 100px;
    margin: 6px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}